.carousel,
.main__liked-movie-list-carousel {
	width: 100%;
	padding-block: 2rem;
	padding-inline: 1rem 3rem;
	overflow-x: scroll;
	overscroll-behavior-x: contain;
	scroll-snap-type: x proximity;
}

.carousel-container,
.main__liked-movie-list-container {
	margin-block: 7rem;
	white-space: nowrap;
}

.carousel__item,
.main__liked-movie {
	// position: relative;
	display: inline-block;
	width: 20rem;
	margin-inline-start: 1rem;
	transition-property: all;
	transition-duration: 450ms;
	transform-origin: center left;
	scroll-snap-align: center;
}

.carousel__item-img {
	border-radius: 1.2rem;
}

// .carousel-container:hover .carousel__item {
// 	opacity: 0.3;
// }

.carousel__item:hover ~ .carousel__item {
	transform: translate3d(10rem, 0, 0);
}

.carousel-container .carousel__item:hover {
	transform: scale(1.5);

	// opacity: 1;
}
