@mixin all-center-with-display-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin title-styles-h2 {
	margin-block-end: 2.4rem;
	margin-inline-start: 2.4rem;
	font-weight: bold;
}
