.main__button-see-more {
	padding: 1.2rem;
	border: 0.2rem solid $purple-dark-2;
	border-radius: 0.8rem;
	background-color: $purple-dark-2;
	color: $purple-light-1;

	&:hover {
		border-color: $soft-purple;
		background-color: $purple-light-1;
		color: $soft-purple;
	}

	&:active {
		border-color: $soft-purple;
		background-color: $soft-purple;
		color: $purple-light-1;
	}
}
